<!--
    team.html
    Web Development Client Side Scripting INFT2202-02 13964
    Durham College
    Sergio Santilli
    Muhammad Anwar & Harrison Vigneswaran
    February 23, 2024
-->

    <!-- Team Members Section -->
    <div class="fixButtons">
        <button id="HV">Harrison Vigneswaran</button>
        <button id="MA">Muhammad Anwar</button>
    </div>

    <!-- Team Members -->
    <div class="modal-container" id="harrisonModal">
        <!-- Team Member 1 -->
        <div class="modal-content">
            <h2 class="modal-header">Profile Details</h2>
            <div class="close">+</div>
            <img src="../../images/HarrisonV.jpg" alt="Harrison V">
            <p>As the Program Coordinator, my role involves meticulously planning, organizing, and executing programs to meet our organizational objectives. I work closely with stakeholders, ensuring seamless coordination and effective communication throughout the program's lifecycle. Resource management, problem-solving, and continuous improvement are at the core of my responsibilities. I oversee compliance, uphold quality standards, and provide leadership to ensure the success and impact of our programs. Through strong organizational and communication skills, I strive to optimize program outcomes and contribute to our overall mission.</p>
        </div>
    </div>
    <div class="modal-container2" id="muhammadModal">
        <!-- Team Member 2 -->
        <div class="modal-content">
            <h2 class="modal-header2">Profile Details</h2>
            <div class="close2">+</div>
            <img src="../../images/MuhammadA.jpeg" alt="Muhammad A">
            <p>As a Community Organizer, my focus is on empowering and mobilizing communities for positive change. I work closely with community members, understanding their needs and concerns. Through strategic planning and grassroots efforts, I aim to foster collaboration, amplify voices, and drive collective action. Building strong relationships, facilitating dialogue, and organizing events are integral to my role. I'm dedicated to creating a vibrant, engaged community that works together to address challenges and create lasting impact.</p>
        </div>
    </div>
