<!--
    Terms-of-Service.html
    Web Development Client Side Scripting INFT2202-02 13964
    Durham College
    Sergio Santilli
    Muhammad Anwar & Harrison Vigneswaran
    February 23, 2024
-->


<main class="container">
        <br>
        <br>
        <h1>Terms of Service</h1>
        <p>Last updated: [2024-01-27]</p>
        <br>

        <!-- User Responsibilities -->
        <h2>User Responsibilities</h2>
        <h3>1. Account Use</h3>
        <p>You are responsible for maintaining the confidentiality of your account and password and for restricting access to your computer. You agree to accept responsibility for all activities that occur under your account or password.</p>
        <h3>2. Content Standards</h3>
        <p>You agree not to post, upload, share, or otherwise publish through this Website any content that is unlawful, libelous, defamatory, obscene, pornographic, harassing, threatening, invasive of privacy or publicity rights, abusive, inflammatory, or otherwise objectionable.</p>
        <h3>3. Accuracy of Information</h3>
        <p>You agree to provide accurate, current, and complete information about yourself as prompted by the Website's registration forms.</p>
        <br>
        <!-- Copyright Information -->
        <h2>Copyright Information</h2>
        <h3>1. Ownership of Materials</h3>
        <p>All content on this Website, including text, graphics, logos, images, and software, is the property of Harmony Hub </p>
        <h3>2. Use of Materials</h3>
        <p>The content on this Website is provided for informational and non-commercial use only.</p>
        <br>
        <!-- Disclaimers -->
        <h2>Disclaimers</h2>
        <h3>1. Harmony Hub </h3>
        <p>This Website and its content are provided "as is" and Harmony Hub makes no representations or warranties of any kind, whether express or implied, with respect to this Website or its contents.</p>
        <h3>2. Limitation of Liability</h3>
        <p> Harmony Hub, its directors, employees, agents, or suppliers shall not be liable for any damages of any kind arising from the use of this Website</p>
        <h3>3. Third-Party Links</h3>
        <p>This Website may contain links to other websites which are not operated by Harmony Hub. Harmony Hub is not responsible for the content, accuracy, or opinions expressed in such websites.</p>
        <br>

        <!-- Changes to Terms of Service -->
        <h2>Changes to Terms of Service</h2>
        <p>Harmony Hub reserves the right, at its sole discretion, to change, modify, add, or remove portions of these Terms of Service at any time. It is your responsibility to check these Terms of Service periodically for changes.</p>

        <!-- Governing Law -->
        <h2>Governing Law</h2>
        <p>These Terms of Service and your use of the Website are governed by and construed in accordance with the laws of Ontario Government, without regard to its conflict of law principles.</p>
</main>






